@import "variables";

.about {
  width: 90%;
  max-width: $max-width-site;
  margin: 0 auto;

  &__collapses {
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
