/* src/styles/App.scss */

@import "variables";

/* 1. Réinitialisation basique */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: $font-size-base;
}

/* 2. Layout en flex pour coller le footer en bas */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Occupe toute la hauteur de la fenêtre */
}

/* 3. Un conteneur principal qui prend l'espace restant (pour pousser le footer en bas) */
.main-content {
  flex: 1;
}
