/* src/styles/Collapse.scss */

.collapse {
  margin-bottom: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 10px 20px;
    border-radius: 10px 10px 5px 5px;
    background-color: #ff6060;
    color: #fff;
    cursor: pointer;

    .collapse__arrow {
      transition: transform 0.3s ease;
      &.is-open {
        transform: rotate(180deg);
      }
    }
  }

  &__title {
    margin: 0;
    font-size: 1.2rem;
  }

  &__content {
    border-radius: 0 0 10px 10px;
    border-top: none;

    overflow: hidden;
    max-height: 0;
    padding: 0 20px;
    background-color: #f6f6f6;
    color: #000;
    transition: max-height 0.3s ease;

    &.is-open {
      max-height: 500px;
      padding: 20px;
    }
  }
}
