@use "./variables.scss";

.container {
  color: variables.$color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 130px;
    margin: 40px;
  }
  &__description {
    margin: 40px;
  }
  &__return {
    margin: 40px;
    text-decoration: underline;
    cursor: pointer;
  }
}
