/* src/styles/Header.scss */

@import "variables";

.header {
  width: 90%;
  max-width: $max-width-site;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 120px;
    height: auto;
  }

  &__nav {
    display: flex;
    gap: 30px;
  }

  &__link {
    color: $color-text-dark;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary;
    }

    &--active {
      text-decoration: underline;
    }
  }
}
