/* src/styles/Housing.scss */

.housing {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  &__header {
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    h1 {
      margin: 0 0 10px 0;
      font-size: 2rem;
      font-weight: 500;
      color: #ff6060;
    }
    p {
      margin: 0 0 15px 0;
      font-size: 1.2rem;
      color: #000;
    }
  }

  &__tags {
    display: flex;
    gap: 10px;

    .housing__tag {
      background-color: #ff6060;
      color: #fff;
      padding: 5px 15px;
      border-radius: 5px;
      font-size: 0.9rem;
    }
  }

  &__host {
    order: 2;
    width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-info {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 0.5rem;
      order: 2;
      p {
        margin: 0;
        color: #ff6060;
        text-align: right;
      }
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &__rating {
      margin-top: 10px;
      order: 1;
      .star {
        font-size: 1.5rem;
        margin-left: 5px;
      }
      .star--filled {
        color: #ff6060;
      }
      .star--empty {
        color: #e3e3e3;
      }
    }
  }

  &__collapses {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .collapse__content,
    .collapse__content p {
      color: #000;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  @media (min-width: 769px) {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__info {
      order: 1;
      width: auto;
      margin-bottom: 0;
    }
    &__host {
      order: 2;
      width: auto;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-info {
        order: 1;
        margin-bottom: 0.5rem;
      }
      &__rating {
        order: 2;
      }
    }
    &__collapses {
      flex-direction: row;
      gap: 40px;
      > * {
        flex: 1;
      }
    }
  }

  @media (max-width: 768px) {
    &__header {
      flex-wrap: wrap;
    }
    &__info {
      order: 1;
      width: 100%;
    }
    &__host {
      order: 2;
      width: 100%;
      margin-top: 1rem;
    }
  }
}
