/* src/styles/variables.scss */

$color-primary: #ff6060;
$color-bg-light: #f7f7f7;
$color-text-dark: #000;
$color-text-light: #fff;

$font-family-base: "Montserrat", sans-serif;
$font-size-base: 1rem;

$border-radius-global: 10px;
$max-width-site: 1200px;
